.tempHolder{
    height: 100vh;
    position: relative;
    border: 2px solid black;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    width: clamp(300px,60%,100vw);
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    border: 1px solid black;
}

.reaction{
    background-color: black;
    position: relative;
    top: -15px;
    left: 20px;
    z-index: 3;
    display: flex;
    color: white;
    align-items: center;
    max-width: 20%;
    height: 25px;
    margin-bottom: -15px;
}

.leftChat , .rightChat{
    color: var(--chatColor);
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: clamp(300px,50%,1400px);
    padding: 4px 10px;
    position: relative;
}

.leftChat{
    border-radius: 10px 10px 10px 0px;
    background-color: var(--chatBackground2);
    -webkit-border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -ms-border-radius: 10px 10px 10px 0px;
    -o-border-radius: 10px 10px 10px 0px;
}
.rightChat{
    border-radius: 10px 10px 0px 10px;
    margin-left: auto;
    background-color: var(--chatBackground1);
}


.leftChat span,.rightChat span{
    font-size: 70%;
    margin: 0px 3px;
}


.leftChat p{
    font-size: 100%;
    padding: 2px;
}

.replyHolder{
    margin: 5px 0px;
    width: 100%;
    font-size: 80%;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--chatBackground2secondary);
    border-top: 0.5px solid var(--chatTertiary);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.leftChat .replyHolder{
    border:0.5px solid var(--chatBackground2);
}

.rightChat .replyHolder{
    border:0.5px solid rgb(0 92 75);
}

.replyHolder p:nth-child(1){
    padding: 0px 2px;
    margin-left: 0px;
}


.statusIcon{
    height: 12px;
    width: 12px;
}

.statusIcon img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.foot{
    position: relative;
    margin-left: auto;
    display: flex;
    width: max-content;
}


@media screen and (max-width:1300px) {
    .container{
        width: 100%;
    }
    .tempHolder{
        padding: 0px;
    }
    .leftChat p,.rightChat p{
        font-size: 90%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 2px;
    }
}