.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 70px;
    width: 100%;
    background-color: var(--bgSecondary);
    border-radius: 5px;
    border: 1px solid var(--bgTertiary);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0px 2px;
}

.container:hover{
    cursor: pointer;
    background-color: var(--bgPrimary);
}


.content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80%;
    color: var(--chatColor2);
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
}
.profileImage{
    height:80%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: aqua;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.nameLine{
    padding: 0px 5px;
    align-items: baseline;
    display: flex;
    font-size: 15px;
    width: 100%;
    justify-content: space-between;
}

.timeStamp{
    color: var(--chatTertiary);
    font-size: 12px;
}

.textContent{
    color: var(--chatTertiary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.textContent img{
    margin: 0px 5px;
    height: 15px;
    width: 15px;
}

.textContent p{
    font-size: 14px;
}