* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    scroll-behavior: smooth;
}


:root {
    --bgTertiary: rgb(52 52 52);
    --bgPrimary: rgb(32 32 32);
    --bgSecondary: rgb(44 44 44);
    --chatColor2: #c7dbd7;
    --chatTertiary: #a3a3a3;
    --chatBackground1: rgb(0 92 75);
    --chatColor1:#c7dbd7;
    --chatBackground1secondary: rgb(26 106 92);
    --chatBackground2: rgb(54 54 54);
    --chatBackground2secondary: rgb(74 74 74);
}



@media screen and (max-width:600px) {
    *::-webkit-scrollbar {
        display: none;
    }

    html,
    body {
        width: 100vw;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


::-webkit-scrollbar {
    width: 10px;
    margin-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(27, 27, 27);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 54, 54);
}